<p>
<click-me></click-me>
</p>
<h4>Give me some keys!</h4>
<div><key-up1></key-up1></div>

<h4>Give me some keys!(template variable exampl)</h4>
<div><loop-back></loop-back></div>

<h4>Give me some keys!(template variable passed as value to function)</h4>
<div><key-up2></key-up2></div>

<h4>Give me some keys!(template variable passed as value to function and displayed on Enter event)</h4>
<div><key-up3></key-up3></div>

<h4>Give me some keys!(template variable passed as value to function and diplayed on Enter event but sometimes the value is lost when the cursor is moved without pressing ENTER so inlclude blur event to get the values if enter is not pressed)</h4>
<div><key-up4></key-up4></div>

<h4>Little Tour Of Heroes</h4>
<div><little></little></div>